[MESSAGES CONTROL]
disable=
    bad-option-value,
    comparison-with-callable,
    cyclic-import,
    duplicate-code,
    fixme,
	import-outside-toplevel,
    invalid-name,
    line-too-long,
    locally-disabled,
    missing-docstring,
    no-self-use,
    old-style-class,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements,
    useless-object-inheritance,
