include README.txt
include README.rst
include LICENSE.txt
include CONTRIBUTING.rst
include CHANGES.txt
include setup.py
include setupinfo.py
include unittests.py
include MANIFEST.in

recursive-include examples *.py
recursive-include lib *.py
recursive-include tests *.py *.csv *.pem *.cnf
recursive-include src *.c *.h *.cc *.proto

include docs/INFO_SRC
include docs/INFO_BIN
