<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30014"><!--Account-->
    <setting id="logout" type="action" label="30017" action="RunPlugin(plugin://plugin.video.netflix/action/logout/)" option="close"/>
    <setting id="adultpin_enable" type="action" label="30062" default="False" action="RunPlugin(plugin://plugin.video.netflix/action/toggle_adult_pin/)" option="close"/>
    <setting label="30053" type="lsep"/>
    <setting id="info" type="text" label="30057" default="" enable="false"/>
    <setting id="autologin_enable" type="bool" label="30054" default="false" enable="eq(0,true)"/>
    <setting id="autologin_user" type="text" label="30055" default="" enable="false" visible="eq(-1,true)" subsetting="true"/>
    <setting id="autologin_id" type="text" label="30056" default="" enable="false" visible="eq(-2,true)" subsetting="true"/>
    <setting type="sep"/>
    <setting id="is_settings" type="action" label="30035" action="Addon.OpenSettings(inputstream.adaptive)" enable="System.HasAddon(inputstream.adaptive)" option="close"/>
  </category>
  <category label="30025"><!--Library-->
    <setting id="enablelibraryfolder" type="bool" label="30026" default="false"/>
    <setting id="customlibraryfolder" type="folder" label="30027" enable="eq(-1,true)" default="special://profile/addon_data/plugin.video.netflix" source="auto" option="writeable" subsetting="true"/>
    <setting id="mylist_library_sync" type="bool" label="30114" default="false"/>
    <setting id="initial_mylist_sync" type="action" label="30121" action="RunPlugin(plugin://plugin.video.netflix/library/initial_mylist_sync/)" visible="eq(-1,true)" subsetting="true"/>
    <setting id="purge_library" type="action" label="30125" action="RunPlugin(plugin://plugin.video.netflix/library/purge/)"/>
    <setting id="migrate_library" type="action" label="30140" action="RunPlugin(plugin://plugin.video.netflix/library/migrate/)"/>
    <setting id="customexportname" type="bool" label="No longer in use" default="true" visible="false"/>
    <setting id="invalidate_cache_on_mylist_modify" type="bool" label="No longer in use" default="true" visible="false"/>
    <setting label="30065" type="lsep"/><!--Auto-Update-->
    <setting id="auto_update" type="enum" label="30064" lvalues="30066|30067|30068|30069|30070" default="0"/>
    <setting id="update_time" type="time" label="30071" visible="gt(-1,0)" default="00:00" subsetting="true"/>
    <setting id="wait_idle" type="bool" label="30072" visible="gt(-2,0)" default="false" subsetting="true"/>
    <setting id="schedule_check_interval" type="slider" label="30073" option="int" range="1,30" visible="gt(-3,0)" default="5" subsetting="true"/>
    <setting id="last_update" type="text" visible="false" default="1970-01-01"/>
    <setting id="update_running" type="text" visible="false" default="false"/>
    <setting label="30184" type="lsep"/><!--NFO Files-->
    <setting id="enable_nfo_export" type="bool" label="30185" default="false"/>
    <setting id="export_movie_nfo" type="enum" label="30186" lvalues="21337|20422|30188" visible="eq(-1,true)" default="1" subsetting="true"/>
    <setting id="export_tvshow_nfo" type="enum" label="30187" lvalues="21337|20422|30188" visible="eq(-2,true)" default="1" subsetting="true"/>
    <setting id="export_full_tvshow_nfo" type="bool" label="30193" visible="eq(-3,true)" default="false" subsetting="true"/>
  </category>
  <category label="30166"><!--Main menu items-->
    <setting id="show_menu_mylist" type="bool" label="30167" default="true"/>
    <setting id="menu_sortorder_mylist" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="false" subsetting="true" default="0"/> <!-- is currently (05-05-2019) no longer supported by the netflix server-->
    <setting id="show_menu_continuewatching" type="bool" label="30168" default="true"/>
    <setting id="show_menu_chosenforyou" type="bool" label="30169" default="true"/>
    <setting id="show_menu_recentlyadded" type="bool" label="30145" default="true"/>
    <setting id="menu_sortorder_recentlyadded" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_newrelease" type="bool" label="30170" default="true"/>
    <setting id="menu_sortorder_newrelease" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_currenttitles" type="bool" label="30171" default="true"/>
    <setting id="show_menu_mostviewed" type="bool" label="30172" default="true"/>
    <setting id="show_menu_netflixoriginals" type="bool" label="30173" default="true"/>
    <setting id="menu_sortorder_netflixoriginals" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_assistiveaudio" type="bool" label="30163" default="true"/>
    <setting id="menu_sortorder_assistiveaudio" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_recommendations" type="bool" label="30001" default="true"/>
    <setting id="show_menu_tvshowsgenres" type="bool" label="30174" default="true"/>
    <setting id="menu_sortorder_tvshowsgenres" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_moviesgenres" type="bool" label="30175" default="true"/>
    <setting id="menu_sortorder_moviesgenres" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_tvshows" type="bool" label="30095" default="true"/>
    <setting id="menu_sortorder_tvshows" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_movies" type="bool" label="30096" default="true"/>
    <setting id="menu_sortorder_movies" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_genres" type="bool" label="30010" default="true"/>
    <setting id="menu_sortorder_genres" type="select" label="30149" lvalues="30150|30151|30152|30153" visible="eq(-1,true)" subsetting="true" default="0"/>
    <setting id="show_menu_search" type="bool" label="30011" default="true"/>
    <setting id="show_menu_exported" type="bool" label="30048" default="true"/>
  </category>
  <category label="30037"><!--Views-->
    <setting id="customview" type="bool" label="30038" default="false"/>
    <setting id="viewmodeprofiles" type="select" label="30044" lvalues="30162|30142" default="0" enable="eq(-1,true)"/>
    <setting id="viewmodeprofilesid" type="number" label="30143" visible="eq(-1,1) + eq(-2,true)" enable="eq(-2,true)" subsetting="true"/>
    <setting id="viewmodemainmenu" type="select" label="30159" lvalues="30162|30142" default="0" enable="eq(-3,true)"/>
    <setting id="viewmodemainmenuid" type="number" label="30143" visible="eq(-1,1) + eq(-4,true)" enable="eq(-4,true)" subsetting="true"/>
    <setting id="viewmodemylist" type="select" label="30165" lvalues="30162|30142" default="0" enable="eq(-5,true)"/>
    <setting id="viewmodemylistid" type="number" label="30143" visible="eq(-1,1) + eq(-6,true)" enable="eq(-6,true)" subsetting="true"/>
    <setting id="viewmodefolder" type="select" label="30039" lvalues="30162|30142" default="0" enable="eq(-7,true)"/>
    <setting id="viewmodefolderid" type="number" label="30143" visible="eq(-1,1) + eq(-8,true)" enable="eq(-8,true)" subsetting="true"/>
    <setting id="viewmodemovie" type="select" label="30040" lvalues="30162|30142" default="0" enable="eq(-9,true)"/>
    <setting id="viewmodemovieid" type="number" label="30143" visible="eq(-1,1) + eq(-10,true)" enable="eq(-10,true)" subsetting="true"/>
    <setting id="viewmodeshow" type="select" label="30041" lvalues="30162|30142" default="0" enable="eq(-11,true)"/>
    <setting id="viewmodeshowid" type="number" label="30143" visible="eq(-1,1) + eq(-12,true)" enable="eq(-12,true)" subsetting="true"/>
    <setting id="viewmodeseason" type="select" label="30042" lvalues="30162|30142" default="0" enable="eq(-13,true)"/>
    <setting id="viewmodeseasonid" type="number" label="30143" visible="eq(-1,1) + eq(-14,true)" enable="eq(-14,true)" subsetting="true"/>
    <setting id="viewmodeepisode" type="select" label="30043" lvalues="30162|30142" default="0" enable="eq(-15,true)"/>
    <setting id="viewmodeepisodeid" type="number" label="30143" visible="eq(-1,1) + eq(-16,true)" enable="eq(-16,true)" subsetting="true"/>
    <setting id="viewmodesearch" type="select" label="30160" lvalues="30162|30142" default="0" enable="eq(-17,true)"/>
    <setting id="viewmodesearchid" type="number" label="30143" visible="eq(-1,1) + eq(-18,true)" enable="eq(-18,true)" subsetting="true"/>
    <setting id="viewmodeexported" type="select" label="30161" lvalues="30162|30142" default="0" enable="eq(-19,true)"/>
    <setting id="viewmodeexportedid" type="number" label="30143" visible="eq(-1,1) + eq(-20,true)" enable="eq(-20,true)" subsetting="true"/>
  </category>
  <category label="30078"><!--Playback-->
    <setting id="BookmarkManager_enabled" type="bool" label="30083" visible="false" default="true"/>
    <setting id="StreamContinuityManager_enabled" type="bool" label="30082" default="true"/>
    <setting id="SectionSkipper_enabled" type="bool" label="30075" default="true"/>
    <setting id="auto_skip_credits" type="bool" label="30079" default="false" visible="eq(-1,true)" subsetting="true"/>
    <setting id="pause_on_skip" type="bool" label="30080" default="false" visible="eq(-1,true)" subsetting="true"/>
    <setting id="UpNextNotifier_enabled" type="bool" label="30129" default="true"/>
    <setting id="is_settings_upnext" type="action" label="30178" action="Addon.OpenSettings(service.upnext)" enable="System.HasAddon(service.upnext)" option="close" visible="eq(-1,true)" subsetting="true"/>
    <setting id="ResumeManager_enabled" type="bool" label="30176" default="true"/>
    <setting id="ResumeManager_dialog" type="bool" label="30177" default="true" visible="eq(-1,true)" subsetting="true"/>
    <setting id="forced_subtitle_workaround" type="bool" label="30181" default="true" />
  </category>
  <category label="30023"><!--Expert-->
    <setting label="30115" type="lsep"/>
    <setting id="stream_max_resolution" type="labelenum" label="30194" values="--|SD 480p|SD 576p|HD 720p|Full HD 1080p|UHD 4K" default="--" />
    <setting id="enable_1080p_unlock" type="bool" label="30136" default="false" visible="false"/> <!-- Deprecated (broken) -->
    <setting id="enable_dolby_sound" type="bool" label="30033" default="true"/>
    <setting id="enable_vp9_profiles" type="bool" label="30137" enable="eq(1,false)|eq(0,true)" default="true"/>
    <setting id="enable_hevc_profiles" type="bool" label="30060" enable="eq(-1,false)|eq(0,true)" default="false"/>
    <setting id="enable_hdr_profiles" type="bool" label="30098" default="false" visible="eq(-1,true)" subsetting="true"/>
    <setting id="enable_dolbyvision_profiles" type="bool" label="30099" default="false" visible="eq(-2,true)" subsetting="true"/>
    <setting id="enable_force_hdcp" type="bool" label="30081" default="false"/>
    <setting id="disable_webvtt_subtitle" type="bool" label="30144" default="false"/>
    <setting label="30116" type="lsep"/>
    <setting id="run_init_configuration" type="bool" label="30158" default="true"/>
    <setting id="enable_ipc_over_http" type="bool" label="30139" default="false"/>
    <setting id="disable_startup_notification" type="bool" label="30141" default="false"/>
    <setting id="enable_timing" type="bool" label="30134" default="false"/>
    <setting id="disable_modal_error_display" type="bool" label="30130" default="false"/>
    <setting id="ssl_verification" type="bool" label="30024" default="true"/>
    <setting id="enable_tracking" type="bool" label="30032" default="true" visible="false"/> <!-- Not implemented -->
    <setting id="esn" type="text" label="30034" value="" default=""/>
    <setting id="hidden_esn" visible="false" value="" />
    <setting id="tracking_id" value="" visible="false"/> <!-- Not implemented -->
    <setting id="show_update_db" type="bool" default="false" visible="false"/>
    <setting label="30117" type="lsep"/>
    <setting id="cache_ttl" type="slider" option="int" range="0,10,525600" label="30084" default="10"/>
    <setting id="cache_metadata_ttl" type="slider" option="int" range="0,1,365" label="30085" default="30"/>
    <setting id="purge_inmemory_cache" type="action" label="30132" action="RunPlugin(plugin://plugin.video.netflix/action/purge_cache/)"/>
    <setting id="purge_complete_cache" type="action" label="30133" action="RunPlugin(plugin://plugin.video.netflix/action/purge_cache/?on_disk=True)"/>
  </category>
</settings>
